body {
    background-image: url(imagenes/Vibrant\ Retro\ 1950s\ Diner\ Scene\ With\ Gourmet\ Burger.png);
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

.zonaPedidos {
    background-color: rgb(239, 190, 111);
    width: 600px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.resumenPedidos {
    background-color: beige;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;

}
